<div class="row">
  <div class="col-md-8">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Program Beneficiaries</h3>
      </div>
      <div class="box-body">
        <div class="table table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th> Program </th>
                <th> Target Beneficiaries </th>
                <th> Actual Beneficiaries </th>
                <th> Available Slots </th>
                <th> Target Area </th>
                <th> Actual Area </th>
              </tr>
            </thead>
            <tbody>
              <% @programs.each do |program| %>
                <tr>
                  <td width="400px"><%= program.name %></td>
                  <td><%= program.target_beneficiaries %></td>
                  <td><%= program.beneficiaries.count %></td>
                  <td><%= program.available_slots %></td>
                  <td><%= program.target_area %></td>
                  <td><%= program.actual_area %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title"> Beneficiaries per Municipality </h3>
      </div>
      <div class="box-body">
        <div class="table table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th> Municipality </th>
                <% @programs.each do |program| %>
                  <th> <%= program.name %></th>
                <% end %>
            </thead>
            <tbody>
              <% Addresses::Municipality.all.each do |municipality| %>
                <tr>
                  <td><%= municipality.name %> <span class="badge bg-navy pull-right"><%= municipality.clients.uniq.count %></span></td>
                  <% @programs.each do |program| %>
                    <td><%=municipality.clients.in(program).uniq.count %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
</div>
