<div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <%= image_tag(@client.avatar.url(:large), class: "profile-user-img img-responsive img-circle", alt: "client avatar") %>
              <h3 class="profile-username text-center"><%= @client.full_name.try(:upcase) %></h3>

              <p class="text-muted text-center"><%#= @client.current_address.try(:details) %></p>

              <ul class="list-group list-group-unbordered">

              </ul>
              <%=link_to "Update Info", edit_client_path(@client), class: "btn btn-primary btn-block btn-flat" %>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About <%= @client.first_name %></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

              <p class="text-muted"><%= @client.current_address %></p>

              <hr>

              <strong><i class="fa fa-phone margin-r-5"></i> Contact Number</strong>

              <p class="text-muted"><%= @client.contact_number %></p>

              <hr>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#claims" data-toggle="tab">Claims</a></li>
              <li><a href="#requirements" data-toggle="tab">Requirements</a></li>
              <li><a href="#farms" data-toggle="tab">Farms</a></li>


              <!-- <li><a href="#trainings" data-toggle="tab">Trainings</a></li>
              <li><a href="#assessments" data-toggle="tab">Assessments</a></li>
              <li><a href="#settings" data-toggle="tab">Settings</a></li> -->

            </ul>
            <div class="tab-content">
              <%= render 'clients/partials/claims', client: @client %>
              <%= render 'clients/partials/requirements' %>
              <%= render 'clients/partials/farms' %>


              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
