<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-default">
      <div class="box-header">
        <h3 class="box-title"> User Details </h3>
      </div>
      <div class="box-body">
        <%= simple_form_for @user, url: :settings_users do |f| %>
          <%= f.error_notification %>
          <center>
            <%#= image_tag @user.avatar.url(:thumb), class: "img-circle" %>
            <%#= f.input :avatar, as: :file, label: "Upload Photo" %>
          </center>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :email %>
          <%= f.input :password %>
          <%= f.input :password_confirmation %>
          <div class="box-footer">
            <%= f.submit "Save User", class: "btn btn-primary btn-flat pull-right", data: { disable_with: "Saving user..." } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
