<div class="row">
  <div class="col-md-3">
    <div class="box box-solid">
      <div class="box-body">
      <h4 class="title"> Categories </h4>
        <% Category.all.each do |category| %>
        <div class="row">
          <div class="col-md-8">
            <%=link_to category.name, scope_to_category_products_path(category: category)  %>
          </div>
          <div class="col-md-4">
            <span class="pull-right badge bg-blue"><%= category.products.count %></span>
          </div>
        </div>
        <br>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="box box-default">
      <div class="box-header with-border">
        <div class="row">
          <div class="col-md-8">
          <%=form_tag products_path, method: :get, id: "search-form" do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], class: "search-query form-control", placeholder: "Search Product...", type: "search" %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <%=link_to new_product_path do %>
              <span class="btn btn-primary pull-right"><i class="fa fa-plus"></i> New Product</span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="table-responsive table-full-width">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th><span class='pull-right'> Deliveries </span> </th>
                <th><span class='pull-right'>In Stock</span></th>
                <th><span class='pull-right'>Claimed </span></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @products.each do |product| %>
                <tr>
                  <td><%=link_to product.name.try(:upcase), product_path(product) %></td>
                  <td><span class='pull-right'><%=product.quantity %></span></td>
                  <td><span class='pull-right'><%=product.in_stock%></span></td>
                  <td><span class="pull-right"><%=product.claimed %></span></td>
                  <td><%=link_to new_product_stock_path(product), title: 'New Stock' do %>
                    <span class="text-primary"><i class="fa fa-plus-circle" title="New Stock" data-toggle='tooltip'></i>
                    <% end %> &nbsp; &nbsp;

                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="box-footer">
          <center><%= paginate @products, params: { controllers: 'products', action: 'index' } %></center>
        </div>
      </div>
    </div>
  </div>
</div>
