
<section class="content-header">
    <h1>Warehouse </h1>
    <p class="text-muted">PAENRO IFUGAO</p>
</section>
<br>
<div class="row">
  <div class="col-md-7">
    <div class="box box-default">
      <div class="panel-heading">
      </div>
      <div class="box-body">
        <div class="col-md-12">
            <%=form_tag warehouse_index_path, method: :get, id: "search-form" do %>
             <div class="input-group">
               <%= text_field_tag :search, params[:search], class: "search-query form-control input-lg", placeholder: "Search for product...", type: "search" %>
               <span class="input-group-btn">
                 <%= button_tag(type: 'submit', class: "btn btn-flat btn-lg") do %>
                   <i class="fa fa-search"></i>
                 <% end %>
               </span>
             </div>
           <% end %>
        </div>
        <hr>
        <br>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Product</th>
                <th class="text-right">IN STOCK </th>
                <th class="text-right">Quantity </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%@stocks.each do |stock| %>
                  <tr>
                    <td>
                      <p><b><%=stock.name.try(:upcase) %></b></p>
                    </td>
                    <td><p class="pull-right"><%=number_to_currency(stock.in_stock, unit: "")%></p></td>
                      <%=simple_form_for @line_item, url: :line_items do |f| %>
                        <%=f.error_notification %>
                        <td width="130px pull-right">
                          <%=f.input :quantity,  input_html: {value: 1, max: stock.quantity }, autofocus: true, label: false %>
                          <%=f.input :stock_id, input_html: {value: stock.id }, as: :hidden %>
                        </td>
                        <td width="60px">
                          <div class="pull-right">
                            <%=f.submit "Add", data: {disable_with: "Adding Product..."}, class: "btn btn-primary btn-flat" %>
                          </div>
                        </td>
                      <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
        <% if @stocks.count.zero? %>
          <p class="alert alert-info"> Product not found.<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> </p>
        <% end %>
      </div>
    </div>
  </div>
      <div class="col-md-5">
        <div class="box box-success">
          <div class="box-header with-border">
            <% if @cart.line_items.blank? %>
              <center><%=image_tag('empty_cart.png', height: 150, width: 150) %></center>
            <% else %>
            <%= link_to 'Empty Cart', @cart, method: :delete, data: {confirm: 'Are you sure you want to empty cart?'}, class: "btn btn-danger btn-xs" %>

              <h4> <span class='badge badge-notify'><%=@cart.line_items.count %></span> <span>Items in Cart</span>
                <span class="pull-right">
                  <%#= link_to 'Empty Cart', @cart, method: :delete, data: {confirm: 'Are you sure you want to empty cart?'}, class: "btn btn-danger btn-xs" %>
                </span>
              </h4>
              <hr>
            <% end %>
          </div>
          <div class="box-body">
            <%=render @cart.line_items %>
          <% if @cart.line_items.present? %>
            <div class="box-footer">
              <%= simple_form_for Order.new do |f| %>
                <%= f.input :client_id, collection: Client.all.map{ |a| [a.full_name, a.id] }, prompt: 'Select Client'%>
                <%= f.input :date, label: "Date Released", as: :string, input_html: { class: "datepicker" } %>
                <%= f.submit "Checkout", class: "btn btn-success btn-block btn-flat" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
