<div class="tab-pane" id="requirements">
  <h4>Requirements </h4>
  <p class="text-muted"> <span class="badge bg-red"><%= Requirement.all.count %></span> Requirements &nbsp; &nbsp; <span class="badge bg-green"><%= @client.requirements.count %></span> Submitted </p>
  <hr>
  <% Requirement.all.each do |requirement| %>
    <div class="row">
      <div class="col-md-6">
        <%= requirement.name %>
      </div>
      <div class="col-md-3">
        <% if @client.requirements.include?(requirement) %>
          <span classs="btn"><i class="fa fa-toggle-on fa-2x text-blue"></i></span>
        <% else %>
          <%= simple_form_for Clients::ClientRequirement.new, url: :requirement_submissions do |f| %>
            <%= f.input :requirement_id, input_html: { value: requirement.id }, as: :hidden %>
            <%= f.input :client_id, input_html: { value: @client.id }, as: :hidden %>
            <%=button_tag type: 'submit', class: 'btn no-padding' do %>
             <i class="fa fa-toggle-off fa-2x"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <br>
  <% end %>
</div>
